* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

nav{
	background-color: rgba(0, 0, 0, 1);
	padding: 14px 14px 0px 0;
	margin: 0;
}

ul{
	margin: 0;
}

li {
	height: 100%;
	display: inline;
	padding: 18px 14px 18px 14px;
}

.dropdown-content a:hover{
	background-color: lightgray;
	color: black;
}

.drop-dwn:hover .dropdown-content{
	display: block;
}

nav li{
	transition: all 0.3s ease 0s;
}

nav li:hover{ 
	background-color: goldenrod;
	text-decoration: none;
}

nav a:hover{ 
	text-decoration: none;
	color: white;
}

li a {
	text-align: center;
	padding: 14px;
	text-decoration: none;
	color: white;
}

.drop-dwn{
	/*position: relative;*/
	display: inline-block;
	margin: 0;
}

.dropdown-content{
	display: none;
	position: absolute;
	top: 100%;
	background-color: white;
	width: 154.26px;
	box-shadow: 0px 10px 6px -6px #777;
	z-index: 1;
}

.sidenav .drop-dwn {
	position: relative;
}

.sidenav .dropdown-content{
	width: 100%;
}

.sidenav .dropdown-content a{
	padding-left: 34px;
}

.dropdown-content a{
	color: black;
	display: block;
	text-decoration: none;
	text-align: left;
}

h1 {
	text-align: center;
	padding-top: 14px;
	font-size: 32px;
	font-family: "Oswald", "Playfair Display", sans-serif;
	color: white;
}

nav h1{
	padding: 20px;

}

h2, h3, h4 {
	text-align: center;
	color: white;
	font-family: "Roboto", sans-serif;
}

#nav-links{
	display: inline;
	padding-top: 3px;
	font-family: "Roboto", sans-serif;
}

#social-media{
	margin: 0 0 0px 0px;
	bottom: 10px;
	position: relative;
	float: right;
}

#social-media li{
	padding: 14px;
}

.logo-image{
	position: relative;
	float: right;
	/*bottom: 42px;
	right: 25px;*/
	width: 75px;
	height: 75px;
	border-radius: 50%;
	overflow: hidden;
}

.header-show{
	display: none;
}

.resize {
	width: 75px;
	height: auto;
}

#photo-col, #text-col{
	padding: 30px 20px;
}


#about-row, #contact-row{
	padding: 10px 40px 0px 40px;
}


.about h1{
	text-align: left;
	color: white;
	font-size: 52px;
	margin-top: 3.5%;
}

#contact-info-list li{
	display: block;
	padding: 5px;
	text-align: left;
}

#contact-info-list a{
		text-decoration: none;
		padding: 0;
		color: black;
	}

.layer{
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
}

body{
	padding-top: 150px;
}

main {
	margin: 0;
	width: 100%;
	height: 100vh;
}

nav.transparent{
	background: rgba(0, 0, 0, 0.5);
}

#small-logo{
	display: block;
}

@media only screen and (max-width: 1098px) and (min-width: 906px) {

	body{
		padding-top: 160px;
	}

	#nav-links li{
		padding: 23px 2px 23px 2px;
		text-align: center;
	}

	#social-media{
		position: relative;
		float: right;
		padding-top: 5px;
	}

	#social-media li{
		padding: 5px 5px 10px 5px;
	}

	.dropdown-content{
		width: 130.26px;
	}

}

@media only screen and (max-width: 905px) and (min-width: 601px) {

	body{
		padding-top: 160px;
	}

	#nav-links{
		width: 100%;
	}

	#nav-links li{
		padding: 13px 22px 13px 22px;
		text-align: center;
	}

	.dropdown-content{
		width: 170.26px;
	}

	#social-media{
		display: none;
	}

	#social-media li{
		padding: 5px 5px 10px 5px;
	}

	.custom-col-sm-12 {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    text-align: center;
	}

}


@media only screen and (max-width: 600px) and (min-width: 390px) {

	body {
		padding-top: 100px;
	}

	#social-media {
		display: none;
	}

	nav{
		padding: 10px 22px 10px 22px;
	}

	nav h1{
		padding: 20px 0px;
	}

	#nav-links{
		display: none;

	}

	#nav-links li{
		padding: 3px;
		text-align: center;
		display: block;
	}

	.logo-image{
		position: relative;
		float: right;
		top: 10px;
		right: 8px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.resize{
		width: 50px;
		height: auto;
	}

	.nav-row{
		text-align: center;
		margin-top: 10px;
	}

	.about h1{
		text-align: left;
		color: white;
		font-size: 52px;
		margin-top: 15%;
	}

	#photo-col{
		display: none;
	}

	#contact-info-list a{
		text-decoration: none;
		padding: 0;
		color: black;
	}

	.col-pad{
		padding-right: 10px;
		padding-left: 10px;
	}

}

@media only screen and (max-width: 389px){
	body {
		padding-top: 100px;
	}

	#social-media {
		display: none;
	}

	nav{
		padding: 10px 10px 10px 10px;
	}

	nav h1{
		padding: 20px 0px;
	}

	#nav-links{
		display: none;

	}

	#nav-links li{
		padding: 3px;
		text-align: center;
		display: block;
	}

	.resize{
		width: 50px;
		height: auto;
	}

	.nav-row{
		text-align: center;
		margin-top: 0px;
	}

	.about h1{
		text-align: left;
		color: white;
		font-size: 52px;
		margin-top: 15%;
	}
	.logo-image{
		display: none;
	}
	
	#contact-info-list a{
		text-decoration: none;
		padding: 0;
		color: black;
	}

	.col-pad{
		padding-right: 10px;
		padding-left: 10px;
	}
}

.nav-row{
	position: relative;
	margin-top: 10px;
}


#social-media li:hover{
	background-color: black;
}

.fa{
	padding: 15px;
	font-size: 20px;
	width: 52px;
	/*height: 50px;*/
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	border-radius: 50%;
}

#carrot{
	font-size: 16px;
	padding: 14px;
	width: 0;
}

i #carrot{
	font-size: 16px;
	padding: 14px;
	width: 0;

}

.fa:hover{
	opacity: 0.7;
}

.facebook{
	background: #3B5998;
	color: white;
}

.linkedin{
	background: #dd4b39;
	color: white;
}

.twitter{
	background: #55ACEE;
	color: white;
}

.youtube{
	background: #bb0000;
	color: white;
}


.main {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("images/street.jpeg");
	animation-name: scrolling-background; 
	animation-duration: 24s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	background-size: cover;
	background-position: center center;
}

.about{
	min-height: 100vh;
	height: fit-content;
	overflow: hidden;
}

.about h2, .about p{
	color: black;
	text-align: left;
}

.about h3{
	color: black;
	text-align: left;
}

.about-header{
	background-image: url("images/street.jpeg");
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 80%;
	margin: 0;
	padding: 10px;
	width: 100%;
	height: 30%;
}

.services-header{
	background-image: url("images/new_york_city_skyline-b_19.jpg");
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 80%;
	margin: 0;
	padding: 10px;
	width: 100%;
	height: 30%;
}

.contact-header{
	background-image: url("images/nyc_new_york_city_2.jpg");
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 80%;
	margin: 0;
	padding: 10px;
	width: 100%;
	height: 30%;
}

#contact-col{
	display: block;
	padding: 20px 20px;

}

.about-img {

	width: 500px;
	height: auto;

}

@keyframes scrolling-background{
	0%, 100%{
		background-image: url("images/detail_soho_building.jpg");
		/*background-size: 1536px 1024px;*/
		opacity: 1;

	}
	8.33%{
		background-image: url("images/new_york_city_skyline-b_19.jpg");
		/*background-size: 1536px 1024px;*/
		opacity: 1;
	}
	25%{
		background-image: url("images/new_york_city_skyline-b_19.jpg");
		/*background-size: 1536px 1024px;*/
		opacity: 1;
	}
	33.33%{
		background-image: url("images/nyc_urban_city_manhattan.jpg");
		/*background-size: 1536px 1024px;*/
		opacity: 1;
	}
	50%{
		background-image: url("images/nyc_urban_city_manhattan.jpg");
		/*background-size: 1536px 1024px;*/
		opacity: 1;
	}
	58.33%{
		background-image: url("images/nyc_new_york_city_3.jpg");
		/*background-size: 1536px 1024px;*/
		opacity: 1;
	}
	75%{
		background-image: url("images/nyc_new_york_city_3.jpg");
		/*background-size: 1536px 1024px;*/
		opacity: 1;
	}
	83.33%{
		background-image: url("images/detail_soho_building.jpg");
		/*background-size: 1536px 1024px;*/
		opacity: 1;
	}

}

.main h2{
	position: absolute;
	top: 30%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 20px;
}

.main-button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	color: white;
	background-color: #008CBA;
	padding: 15px 35px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
}

.main-button:hover{
	border-style: solid;
	border-color: blue;
	border-width: 2px;
	color: white;
	background-color: blue;
}

.inline-icon{
	display: inline-block;
	font-size: 30px;
}


.google-map{
	padding-bottom: 50%;
	position: relative;
}

.google-map iframe{
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

footer {
	text-align: center;
	padding: 3px;
	background-color: black;
	overflow: hidden;
}

footer h3{
	color: white;
	padding: 5px 5px 10px 5px;
}

footer h4{
	padding: 5px;
}

footer li{
	display: block;
	padding: 14px;
}

aside{
	position: float;
	display: block;
}

aside li{
	color: white;
	background-color: black;
}

p {
	color: white;
	padding: 5px;
}

