
#sideMenu{
	display: none;
}

#mySideNav{
	display: none;
}

@media only screen and (max-width: 600px){

	#mySideNav{
		display: block;
	}

	nav h1{
		display: inline;
		text-align: center;
		padding: 14px;
		position: relative;
		bottom: 8px;
	}

	#sideMenu{
		display: inline;
		font-size: 60px;
		cursor: pointer;
		text-align: left;
		color: white;
	}


	#mySideNav li{

		padding: 0 0 0 20px;
		display: block;

	}

	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: black;
		overflow-x: hidden;
		transition: 0.5x;
		padding-top: 45px;
	}

	.sidenav a{
		text-align: left;
		text-decoration: none;
		font-size: 18px;
		color: white;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover{
		color: #f1f1f1;
	}

	.sidenav .closebtn{

		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;

	}

	.drop-dwn{
		width: 100%;
	}

	.dropdown-content{
		left: 0px;
	}

}
